
.inl{
    display: inline;
    background-color: blue;
    padding: 3px;
}

.blc{
    display: block;
    background-color: red;
    margin: 20px;
}



.hello{
    background-color: aquamarine;
    padding: 5rem;
    display: inline-block;
}