.menu:hover ul{
    display: inline-block;
    background-color: red;
}
.menu ul{
    display: none;
    background-color: aqua;
}

.menu button{
    display: block;
    background-color: yellow;
}

.menu{
    display: inline-block;
    background-color: blue;
}